{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByteBites</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
</head>
<body>
    <div class="banner">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container">
                <a class="navbar-brand restaurant-name" href="{% url 'home' %}">ByteBites</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home <a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-active" href="{% url 'menu' %}">Menu</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mybookings' %}"> My Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"> Log Out </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'book' %}">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'llogin' %}">Customer Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="menutable">
        <table class="table menutable">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>HTML Hotdog</td>
                    <td>$9.99</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>CSS Crunchwrap</td>
                    <td>$8.49</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>JavaScript Java</td>
                    <td>$7.99</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Python Pizza</td>
                    <td>$10.49</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Ruby Ravioli</td>
                    <td>$11.99</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Java Jambalaya</td>
                    <td>$12.99</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>C++ Croissant</td>
                    <td>$6.99</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>PHP Pancakes</td>
                    <td>$8.99</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>SQL Sushi</td>
                    <td>$13.99</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Swift Sausage</td>
                    <td>$9.49</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Angular Alfredo</td>
                    <td>$11.99</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>React Risotto</td>
                    <td>$12.49</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Node.js Nachos</td>
                    <td>$10.99</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>Vue.js Vindaloo</td>
                    <td>$14.49</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>PHP Pho</td>
                    <td>$8.99</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>HTML Hashbrowns</td>
                    <td>$7.49</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>Java Jell-O</td>
                    <td>$5.99</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>Python Pudding</td>
                    <td>$6.99</td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>C++ Croissant</td>
                    <td>$6.99</td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>Ruby Ramen</td>
                    <td>$9.99</td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>