body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.banner {
    background-color: rgba(240, 240, 240, 0.8);
    padding: 5px 0;
}

.nav-active {
       text-decoration: underline;
       text-decoration-thickness: 3px;
}

.navbar {
    padding: 5px 0;
    background-color: transparent;   
}


.navbar-brand:hover {
    color: #000;
}

#navbarNav .nav-link {
    color: #000;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    transition: color 0.3s, font-size 0.3s;
}


#navbarNav .nav-link:hover {
 
    font-weight:1000;
}

.navbar-brand.restaurant-name {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #d9534f;
}

.main-content {
    font-family: 'Segue', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 3px #000000;
    text-align: center;
    padding: 50px 0;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content-banner {
    background-color: rgba(0, 0, 0, 0.61);  
    padding: 2px 0;
    border-radius: 25px;
}

/* Form Styles */

form {
    max-width: 300px;
    margin: 0 auto; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    background-color: #d9534f;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #c9302c; 
    cursor: pointer;
}


.mt-3 a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #d9534f; 
    font-weight: bold;
}

.mt-3 a:hover {
    text-decoration: underline;
}

#success-modal .modal-content {
    background-color: rgba(88, 238, 113, 0.897);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 1px 1px #000000;
}

#signup-modal .modal-content {
background-color: rgba(217, 83, 79, 0.897);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 1px 1px #000000;
}

